<IfModule mod_rewrite.c>
    RewriteEngine On

    # Erzwingen von HTTPS
    RewriteCond %{HTTPS} !=on
    RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

    # Automatische Weiterleitung von URLs ohne .html
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME}\.html -f
    RewriteRule ^(.*)$ $1.html [L,QSA]
</IfModule>

<IfModule mod_headers.c>
    # HSTS-Header hinzufügen
    Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
</IfModule>
